# Server
PORT=3000

# MySQL / Sequelize
DB_HOST=localhost
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_DIALECT=mysql

# OTP / Email verification
# Thời gian OTP có hiệu lực (phút)
OTP_TTL_MINUTES=5

# Gmail SMTP
# Lưu ý: cần tạo App Password (2FA) và dùng username là email Gmail của bạn
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=minhkhanhv23@gmail.com
SMTP_PASS=htbp hhdv aftl jazt
MAIL_FROM=minhkhanhv23@gmail.com

